src/main/mule/sap4hana-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sap4hana-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sap4hana-sapi-config" api="resource::59d314d0-c723-4b5a-a28d-94055ef10346:sap4hana-sapi:1.0.0:raml:zip:sap4hana-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sap4hana-sapi-main">
        <http:listener config-ref="sap4hana-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sap4hana-sapi-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="sap4hana-sapi-console">
        <http:listener config-ref="sap4hana-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sap4hana-sapi-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="get:\customer:sap4hana-sapi-config">
		<flow-ref doc:name="Get customer flow" doc:id="aff3ad74-3d1d-469c-9742-8554038c4902" name="getCustomerFlow"/>
    </flow>
	<flow name="get:\healt-check:sap4hana-sapi-config" doc:id="8de673f2-4c89-4b21-b178-941b733caefc" >
		<flow-ref doc:name="Get api status" doc:id="a42b0623-24a9-4a32-aabf-ae052a57d5b3" name="getApiStatusFlow"/>
	</flow>
</mule>
